/* Base button styles */
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

/* Animated button */
.animated-button {
    background-color: #db3fa2;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "Arial Black", sans-serif;
    font-size: xx-large;

}

.animated-button:hover {
    background-color: #e37bbd;
    box-shadow: 0 18px 24px 0 rgba(202, 119, 202, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Centering styles */
body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100vh;         /* Full viewport height */
    margin: 0; 
    font-family: "Arial Black", sans-serif;   /* Remove default margin */
    background-color: #000000; /* Optional background color */
}

h1 {
    position: absolute; /* Positioning the heading */
    top: 20px;         /* Adjust top position */
    text-align: center; /* Center heading text */
    width: 100%;       /* Full width */
}