@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
}

.actionBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}   
.readmore{
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: cadetblue;
    color: white;
    border-radius: 20px;
  }

