.button2 {
    padding: 12px 25px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 5px #2e7d32;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .button2:active {
    box-shadow: 0 2px #2e7d32;
    transform: translateY(3px);
  }
  