body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    perspective: 1000px;
}

.flip-card {
    width: 250px;
    height: 100px;
    position: relative;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #007BFF; /* Blue color */
}

.contact-button {
    background-color: transparent; /* No background */
    border: none; /* Remove border */
    color: white; /* Text color */
    font-size: 20px; /* Font size */
    font-weight: 700; /* Bold font */
    cursor: pointer; /* Pointer cursor */
    padding: 10px 20px; /* Padding for button */
    transition: background-color 0.3s, transform 0.3s; /* Transition for hover effects */
    border-radius: 8px; /* Rounded corners */
}

.contact-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light effect on hover */
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.flip-card-back {
    background-color: white; /* White background */
    transform: rotateY(180deg);
    justify-content: space-around;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px; /* Icon width */
    height: 40px; /* Icon height */
    margin: 0 15px; /* Spacing between icons */
    transition: transform 0.3s; /* Transition for hover effect */
}

.icon:hover {
    transform: scale(1.1); /* Scaling effect on hover */
}
